@font-face {
    font-family: Norse;
    src: url(./assets/fonts/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}

:root{
    --invalid-border-color: #ce6060;
    --form-end-color: #596D48;
}

html,body{
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
}

.left-container,
.right-container {
    height: 100%;
}

.left-container {
    width: 35%;
    background: url(./assets/img/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-top: 137px;
    background: rgba(0, 0, 0, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    height: 150px;
    width: auto;
}

.logo > h1 {
    display: inline-block;
    font-size: 7rem;
    overflow: hidden;
    color: white;
    font-family: Norse;
}

footer {
    width: 100%;
    padding: 10px;
    text-align: center;
}

footer,
a {
    color: white;
    font-family: Inter;
}

.right-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.form-header,
.form-section,
.form-end{
    width: 100%;
    /* border: 2px solid red; */
}

.form-header{
    height: 30%;
    padding: 40px;
    font-weight: bold;
    font-family: Inter;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.form-header > p {
    width: 58%;
}

form{
    display: flex;
    flex-direction: column;
}

.form-section{
    height: 40%;
    padding: 20px 20px 20px 40px;
    font-family: Inter;
    box-shadow: 0 10px 20px -20px black;
}

.form-section > h1{
    font-size: 1.8rem;
    font-weight: 500;
}

input {
    padding: 5px;
    width: 70%;
    border: 1px solid #E5E7EB;
    outline: none;
    border-radius: 4px;
    margin-top: 3px;
}

input:focus{
    border: 1px solid blue;
    box-shadow: 0px 10px 13px -7px black;
}

input[id="password"]:invalid,
input[id="confirm_pass"]:invalid{
    border: 1px solid var(--invalid-border-color);
}

input[id="password"]:invalid:focus,
input[id="confirm_pass"]:invalid:focus{
    border: 1px solid var(--invalid-border-color);
    background-color: lightcoral;
}

label{
    display: block;
    font-size: 0.8rem;
    font-family: Inter;
}

.name-section,
.contact-info,
.password{
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
}

.name-section > div,
.contact-info > div,
.password > div{
    /* border: 2px solid black; */
    width: 100%;
}

.contact-info,
.password{
    margin-top: 10px;
}

.form-end{
    height: 30%;
    padding: 20px 0 0 40px;
}

.form-end > button{
    padding: 10px;
    width: 20%;
    border: 1px solid var(--form-end-color);
    border-radius: 4px;
    background-color: var(--form-end-color);
    color: white;
    font-family: Inter;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    overflow: hidden;

}

.form-end > button:hover{
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    transition-duration: 0.3s;
    transform: translateY(-5px);
}

.form-end > p {
    font-size: 1.3rem;
}

.form-end > p > a{
    color: var(--form-end-color);
    text-decoration: none;
    font-weight: bold;
}